.pdModal {
  & .modal-content {
    /* Bootstrap override */
    width: 616px;
  }

  .pdModalHeader {
    border: none;

    .pdModalTitle {
      font-size: 20px;
      font-weight: 700;
      line-height: 25.3px;
    }
  }

  .pdModalFooter {
    border: none;

    button {
      min-width: 171px;
    }
  }
}
