// bootstrap override
$border-radius:               5px;
$border-radius-lg:            8px;
$border-radius-sm:            12px;
$btn-border-radius:           $border-radius;
$btn-border-radius-lg:        $border-radius-lg;
$btn-border-radius-sm:        $border-radius-sm;
