.agreements {
  .card {
    padding: $card-spacer-x;
  }
  .hambunguer {
    margin-left: 5px;
    margin-top: -10px;
    cursor: pointer;
    display: block;    
  }

  .content {
    position: relative;
    .new-agreement-button {
      position: absolute;
      top: 14px;
      right: 28px;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
    }
    .empty-result {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin: 0;
      color: $primary;
      height: 646px;
      background: #f4f5f7;
      border-radius: 15px;
    }
  }
}

.template-agreement-selector-modal {
  .modal-content {
    @include modal-content;
    min-height: 38.6875rem;
    width: 41.25rem;
    top: 15vh;
  }
  .modal-header {
    @include modal-header;
  }
  .modal-footer {
    @include modal-footer;
  }
}

.detail-agreement-modal {
  .modal-content {
    @include modal-content;
    min-height: 523px;
    width: 616px;
    top: 15vh;
  }
  .modal-header {
    @include modal-header;
    .info {
      font-size: 14px;
      line-height: 18px;
      font-weight: normal;
      color: $blue-600;
      opacity: 0.5;
    }
  }

  .modal-body {
    .status {
      .title {
        font-weight: 500;
        font-size: 14px;
        color: $primary;
      }
    }
    .details {
      .info {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: $primary;
      }
      .title {
        color: $blue-600;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
      .value {
        font-weight: 500;
        font-size: 14px;
        color: $primary;
        word-wrap: break-word;
      }
    }
    .buttons {
      button {
        width: 172px;
      }
    }
  }
}
