.index {
  background-color: $blue;
  color: $white;
  min-height: 100%;
  height: 100vh;
  position: relative;
  .row {
    margin: 0;
  }
  .logo {
    width: 200px;

    @media screen and (min-width: 475px) {
      width: 400px;
    }

  }

  .btn {
    margin-top: 135px;
    width: 100%;
    height: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;

    @media screen and (min-width: 475px) {
      width: 400px;
    }
  }

  .info {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    margin: auto;
    .danger {
      color: $danger;
    }

    @media screen and (min-width: 475px) {
      width: 455px;
      font-size: 14px;
    }
  }
}
