.new-agreement {
  .card-fields {
    .title {
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: $primary;
      }
    }
  }
  .title-agreement {
    cursor: pointer;
  }
  .title-input {
    width: 42%;
    height: 45px;
  }
  .accept-title-btn {
    height: 2.75rem;
    width: 10.75rem;
  }
}
