.new-agreement {
  .card-fields {
    .title {
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: $primary;
      }
    }
  }
  .title-agreement {
    cursor: pointer;
  }
  .title-input {
    width: 59%;
    height: 45px;
  }
  .input-new-agreement {
    background: white;
    border-radius: 15px;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border: none;
    height: 46px;
    outline: white;
  }
  .accept-title-btn {
    height: 2.75rem;
    width: 10.75rem;
  }
  .btn-new-agreement {
    display: flex;
    height: 34px;
    align-items: center;
    background: white;
  }
}
