ion-item {
  --border-width: 0;
  --inner-border-width: 0;

}

ion-button {
  width: 100%;
  height: 48px;
  text-transform: none;
  font-size: 0.9em;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &.red-button {
    background-color: $brand-red;

  }

  &.purple-button {
    background-color: $brand-primary;

  }
}

.terms {
  font-size: 0.8em;

}

.terms-modal {
  padding: 10vh 15px;
  overflow-y: scroll;

  .ion-page {
    max-width: 95%;
    margin: auto;

  }

}

.backarrow-header {
  display: flex;
  flex-direction: row;
  height: 47px;
  background-color: #f7f7f7;
  align-items: center;
  text-align: center;

  ion-router-link {
    position: absolute;
    left: 5vw;
    font-size: 1.4em;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #000;
    z-index: 999;
  }

  ion-title {
    font-size: 0.9em;
    font-weight: bold;
  }
}

.text-brand-primary {
  color: $brand-primary;
}
.text-success {
  color: $green-success;
}


.item-native, main {
  background-color: $grey-bg;

}

.ion-color-primary {
  background-color: $brand-primary;
  --ion-color-base: $brand-primary !important;
}

.ion-color-secondary {
  background-color: $brand-secondary;
  --ion-color-base: $brand-secondary !important;
}
