body,
ion-item,
ion-text,
div,
p,
span,
h1,
h2,
h3,
h4,
h5 {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;

}

.main-content {

  >.ion-page {

    @media (min-width: 767px) {
      background-color: #0a0738;

    }

  }

  .content-page {
    background-color: #0a0738;

    >ion-content {
      max-width: 967px;
      margin: auto !important;
      align-self: center;
    }
  }

}

ion-menu {

  @media (min-width: 767px) {
    display: none;

  }
}

.menu-content-push {
  transition: all .2s;
  box-shadow: 1px 1px 50px 10px #000 !important;
  z-index: 9999;

  &.menu-content-open {
    margin-top: 1.5vh;
    //margin-left: 10px;
    height: 97vh;
    border-radius: 20px;
    margin-left: 0;
    box-shadow: 1px 1px 50px 10px #000;

  }

}

ion-modal {
  position: absolute;

  .modal-wrapper {
    //height: 93vh !important;
    max-height: 900px !important;
    width: 95% !important;
    margin: auto;
    max-width: 500px !important;

  }
}

ion-slides {
  height: 100%;
}

ion-item {
  --border-width: 0;
  --inner-border-width: 0;

}

ion-button {
  width: 100%;
  height: 48px;
  text-transform: none;
  font-size: 0.9em;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;

  &.red-button {
    background: $brand-red;

  }

  &.grey-button {
    color: $brand-secondary;
    border-color: $grey-border;

  }

  &.no-button {
    border-radius: 0;
    text-align: left;
  }
}

.terms {
  font-size: 0.8em;

}

.loader-spinner {

  .loading-wrapper {
    background-color: transparent !important;
    box-shadow: none !important;

    ion-spinner {
      width: 50px;
      height: 50px;

    }

  }

}

.icon-wrapper.verified{
  color: green;
}

.icon-wrapper.notverified{
  color: red;
}

.small-button{
  width: 125px;
  height: 23px;
  font-size: 0.95em;
  font-weight: 500;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20{
  font-size: 20px;
}

.font-size-25{
  font-size: 25px;
}

.font-size-30{
  font-size: 30px;
}

.backarrow-header {
  display: flex;
  flex-direction: row;
  height: 47px;
  align-items: center;
  text-align: center;

  ion-router-link {
    position: absolute;
    left: 5vw;
    font-size: 1.4em;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #000;
    z-index: 999;
  }

  ion-title {
    font-size: 0.9em;
    font-weight: bold;
  }
}

ion-header {
  background-color: var(--ion-background-color);

  .alternate-menu {
    display: none;
  }

  @media (min-width: 767px) {

    ion-buttons {

      ion-menu-button {
        display: none;

      }

    }

    .alternate-menu {
      display: flex;

      ion-icon {

      }

      .icon-wrapper {
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        border-radius: 50px;
        padding: 5px;
        margin-right: 10px;

        ion-icon {

        }

      }

      .selected {

        .icon-wrapper {
          background: var(--ion-color-gradient);
        }

      }

    }

  }

  ion-toolbar {
    background-color: var(--ion-background-color);

  }
}

.text-brand-primary {
  color: $brand-primary;
}
.text-success {
  color: $green-success;
}

ion-router-link {
  color: $brand-secondary;
}

ion-input, ion-textarea {
  border: $grey-border;
}

.cursor-pointer {
  cursor: pointer;
}

.item-interactive.item-has-focus {
  --highlight-background: none !important;
}
