
/* Fonts */
@font-face {
  font-family: 'Circular' ;
  src: url('/assets/fonts/Circular_Std.eot');
  src: url('/assets/fonts/Circular_Std.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Circular_Std.woff') format('woff'),
  url('/assets/fonts/Circular_Std.ttf') format('truetype'),
  url('/assets/fonts/Circular_Std.otf');
  font-weight: normal;
}

// IONIC VARIABLES
/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {

  /** font **/
  --ion-font-family: 'Circular';
  --ion-text-color: #ffffff;

  /** background **/
  --ion-background-color: #110252;
  --ion-background-color-rgb: 17, 2, 82;

  /** verified **/
  --ion-color-verified: green;
  --ion-color-verified-rgb: 246, 147, 34;
  --ion-color-verified-contrast: #ffffff;
  --ion-color-verified-contrast-rgb: 255, 255, 255;
  --ion-color-verified-shade: rgb(163, 228, 163);
  --ion-color-verified-tint: rgb(163, 228, 163);

  /** primary **/
  --ion-color-primary: #F69322;
  --ion-color-primary-rgb: 246, 147, 34;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e09131;
  --ion-color-primary-tint: #e09131;

  /** secondary **/
  --ion-color-secondary: #DA1E5E;
  --ion-color-secondary-rgb: 218, 30, 94;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e03666;
  --ion-color-secondary-tint: #e03666;

  /** transparent **/
  --ion-color-transparent: transparent;
  --ion-color-transparent-rgb: 255, 255, 255, 1;
  --ion-color-transparent-contrast: #ffffff100;
  --ion-color-transparent-contrast-rgb: 255, 255, 255, 1;
  --ion-color-transparent-shade: transparent;
  --ion-color-transparent-tint: transparent;

  /** gradient **/
  --ion-color-gradient: linear-gradient(90deg, var(--ion-color-secondary) 0%, var(--ion-color-primary)  100%);
  --ion-color-gradient-rgb: 218, 30, 94;
  --ion-color-gradient-contrast: #ffffff;
  --ion-color-gradient-contrast-rgb: 255, 255, 255;
  --ion-color-gradient-shade: #e03666;
  --ion-color-gradient-tint: #e03666;

  .ion-color-gradient {
    --ion-color-base: var(--ion-color-gradient);
    --ion-color-base-rgb: var(--ion-color-gradient-rgb);
    --ion-color-contrast: var(--ion-color-gradient-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gradient-contrast-rgb);
    --ion-color-shade: var(--ion-color-gradient-shade);
    --ion-color-tint: var(--ion-color-gradient-tint);
  }

  .ion-color-transparent {
    --ion-color-base: var(--ion-color-transparent);
    --ion-color-base-rgb: var(--ion-color-transparent-rgb);
    --ion-color-contrast: var(--ion-color-transparent-contrast);
    --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb);
    --ion-color-shade: var(--ion-color-transparent-shade);
    --ion-color-tint: var(--ion-color-transparent-tint);
  }

  ion-backdrop {
    --background: #000000;
    background: #000000;
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.5)
  }


}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #F69322;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #DA1E5E;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    /** gradient **/
    --ion-color-gradient: linear-gradient(90deg, var(--ion-color-secondary) 0%, var(--ion-color-primary)  100%);
    --ion-color-gradient-rgb: 218, 30, 94;
    --ion-color-gradient-contrast: #ffffff;
    --ion-color-gradient-contrast-rgb: 255, 255, 255;
    --ion-color-gradient-shade: #e03666;
    --ion-color-gradient-tint: #e03666;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #110252;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #110252;

    --ion-item-background: #110252;

    --ion-card-background: #110252;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #110252;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #110252;

    --ion-toolbar-background: #110252;

    --ion-tab-bar-background: #110252;

    --ion-card-background: #110252;
  }
}

//Colors
$brand-primary:           var(--ion-color-primary);
$brand-primary-10:        #f6922010;
$brand-secondary:         var(--ion-color-secondary);
$brand-red:               #FF4300;
$grey-border:             #8880A8;
$brand-bg:                #110252;
$green-success:           #28C081;

$text-default:            #ffffff;
$bg-gradient: linear-gradient(90deg, var(--ion-color-secondary) 0%, var(--ion-color-primary)  100%);
