.landing-content {
    display: flex;
    flex-direction: column;
}

.landing-content a {
    color: #8500FF;
}

.landing-logo {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-actions {
    width: 100%;
    padding: 0 3vh;
    display: flex;
    flex-direction: column;
}

.landing-actions ion-router-link {
    width: 100%;
    text-align: center;
    padding: 5vh 0;
}

.terms {
    text-align: center;
    width: 100%;
    padding: 0 3vh;
    font-size: 0.9em;
}
