$theme-colors: (
  "primary": #110252,
  "secondary": #c3c0d4,
  "danger": #da1e5e,
);

$blue: #110252;
$blue-800: #34286c;
$blue-500: #a09aba;
$blue-400: #9d9cb2;
$background-color: #F4F5F7;

$font-size-base: 1rem !default;
$h3-font-size: $font-size-base * 1.87 !default;

$card-border-radius: 0.9375rem;
