$theme-colors: (
  "primary": #110252,
  "secondary": #C3C0D4,
  "danger": #DA1E5E
);

$blue:  #110252;
$blue-800:  #34286C;
$blue-500:  #A09ABA;

$form-label-color: #1A1E3C;
$form-input-background-color: #F4F5F7;

$font-size-base: 1rem !default;
$h3-font-size: $font-size-base * 1.87 !default;

$card-border-radius: 0.9375rem;

$form-input-border-radius: 0.4375rem;