$theme-colors: (
  "primary": #110252,
  "secondary": #c3c0d4,
  "danger": #da1e5e,
  "info": #017EFA,
  "success": #48BC33,
);

$blue: #110252;
$blue-800: #34286c;
$blue-600: #878a9a;
$blue-500: #a09aba;
$blue-400: #9d9cb2;
$background-color: #F4F5F7;

$form-label-color: #1A1E3C;
$form-input-background-color: #F4F5F7;

$font-size-base: 1rem !default;
$h3-font-size: $font-size-base * 1.87 !default;

$card-border-radius: 0.9375rem;

$form-input-border-radius: 0.4375rem;

$btn-font-size: 0.8125rem;

$btn-form-width-size: 10.75rem;
$btn-form-height-size: 2.75rem;