.profile-component {
  background: $blue-800;
  border-radius: 10px;
  height: 65px;
  position: relative;
  width: 200px;

  img {
    width: 35px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
  }
  .info {
    height: 20px;
    position: absolute;
    top: 13px;
    left: 63px;
    .name {
      font-weight: bold;
      font-size: 13px;
    }

    .network {
      font-weight: 500;
      font-size: 13px;
      color: $blue-500;
    }
  }
}

.collapse-profile-component {
  background: $blue-800;
  border-radius: 10px;
  height: 65px;
  position: relative;
  width: 60px !important;
  margin-left: -5px !important;

  img {
    width: 35px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
  }

  .info {
    display: none !important;
  }
}
