.menu-side-start {
  z-index: 9999;

}

ion-menu {
  z-index: 9999;

  ion-content {
  }

  &.md {
    ion-content {
      --padding-start: 8px;
      --padding-end: 8px;
      --padding-top: 20px;
      --padding-bottom: 20px;
    }

    ion-list {
      padding: 20px 0 0;
    }

    ion-note {
      margin-bottom: 30px;
    }

    ion-list-header, ion-note {
      padding-left: 10px;
    }

    ion-list#inbox-list {
      border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
    }

    ion-list#inbox-list ion-list-header {
      font-size: 22px;
      font-weight: 600;
      min-height: 20px;
    }

    ion-list#labels-list ion-list-header {
      font-size: 16px;
      margin-bottom: 18px;
      min-height: 26px;
    }

    ion-item {
      --padding-start: 10px;
      --padding-end: 10px;
      border-radius: 4px;
    }

    ion-item.selected {
    }

    ion-item.selected ion-icon {
      &.ion-color {
        color: $brand-secondary !important;
      }
    }

    ion-item ion-icon {
      color: white;
      font-size: 24px;


    }

    ion-item ion-label {
      font-weight: 500;
      margin-left: 10px;

    }
  }

  &.ios {
    ion-content {
      --padding-bottom: 20px;
    }

    ion-list {
      padding: 20px 0 0;
    }

    ion-note {
      line-height: 24px;
      margin-bottom: 20px;
    }

    ion-item {
      --padding-start: 16px;
      --padding-end: 16px;
      --min-height: 50px;
    }

    ion-item ion-icon {
      color: white;
      font-size: 24px;
    }

    ion-item .selected ion-icon {
    }

    ion-list#labels-list ion-list-header {
      margin-bottom: 8px;
    }

    ion-list-header,
    ion-note {
      padding-left: 16px;
      padding-right: 16px;
    }

    ion-note {
      margin-bottom: 8px;
    }
  }

  ion-note {
    display: inline-block;
    font-size: 16px;
  }

  ion-item.selected ion-icon {
    &.ion-color {
      color: $brand-secondary !important;
    }
  }
}
