.terms-modal {
  .modal-wrapper {
    min-height: 80vh !important;
    max-height: 85vh !important;
    width: 95%;
    color: var(--ion-text-color);

    .ion-page {
      padding: 10px;
      overflow-y: scroll;

      p {
        text-align: justify;

      }

    }

  }

}

.unlock-modal {

  .modal-wrapper {
    min-height: 50vh !important;
    max-height: 500px !important;

    .ion-page {
      justify-content: flex-start !important;

      h5 {
        color: var(--ion-text-color);
      }

      >ion-item {
        margin-top: 2vh;
      }

      form {
        margin-top: 4vh;

        ion-input {

          input {
            margin-top: 2vh;
            width: 100%;
            border: 1px solid $grey-border;
            border-radius: 5px;
            height: 48px;
            padding: 0 5px;

          }

        }

        .form-options {
          margin-top: 5vh;

        }

        .text-error {
          color: $brand-red;
          width: 100%;

        }
      }
      .copy-icon {
        margin-left: 10px;
        vertical-align: bottom;
        margin-bottom: 2px;
        cursor: pointer;
      }
    }

  }

}

.import-modal {

  .modal-wrapper {
    min-height: 50vh !important;
    max-height: 700px !important;
    
    @media (min-width: 767px) {
      min-height: 75vh !important;
      max-height: 750px !important;
    }

  }

}

.pdf-viewer-modal {

  .modal-wrapper {
    min-height: 90vh !important;
    min-width: 95% !important;


  }

}

.create-wallet-modal {
  //--background-color: white;

  .modal-wrapper {
    height: 90%;
    width: 95%;
    margin: auto;
    background-color: white;

  }

  .swiper-slide {
    visibility: hidden;
  }
    
  .swiper-slide.swiper-slide-active {
    visibility: visible;
  }
}

.success-dialog-modal {
  .modal-wrapper {
    min-height: 10vh !important;
    max-height: 500px !important;
    height: 25vh;

    .ion-page {
      justify-content: flex-start !important;

      .message-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      >ion-item {
        margin-top: 1vh;
        margin-bottom: 1vh;
      }
    }
  }
}
