.btn-white {
    background: white;
    border-radius: 15px;
    color: $blue-400;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border-color: white;
    height: 46px;
}

.btn-transparent {
    background: transparent;
    color: $blue-400;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border-color: transparent;
}

.btn-action {
    background: $orange;
    color: $white;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    border-color: transparent;
}

.btn-form {
    border: none;
    border-radius: 0.5rem;
    color: $white;
    font-size: $btn-font-size;
    font-weight: 700;
    height: $btn-form-height-size;
    width: $btn-form-width-size;
}

.btn-form-img-text-primary {
    @extend .btn-form;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.btn-form-save {
    @extend .btn-form;
    background: $danger;
    &:focus, &:hover, &:active {
        background: $pink;
    }
}

.btn-link-form-cancel {
    color: $blue;
    font-size: $btn-font-size;
    &:focus, &:hover {
        text-decoration: none;
    }
}

.btn-close-modal {
    border: none;
    padding: 0;
    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}
