.btn-white {
    background: white;
    border-radius: 15px;
    color: $blue-400;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border-color: white;
    height: 46px;
}

.btn-transparent {
    background: transparent;
    color: $blue-400;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border-color: transparent;
}
