.list-group-flush {
  border: none;
  border-radius: $form-input-border-radius;
}

.list-item-grey {
  border: none;
  border-radius: $form-input-border-radius;
  background: $background-color;
  padding: 0.9375rem;
  margin-bottom: 1.25rem;
  color: $form-label-color;
  font-size: $font-size-lg;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    background: #C3C0D4;
  }
}