
@mixin modal-content {
  background: $white;
  border: none;
  border-radius: $card-border-radius;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  padding: 1.87rem;
}

@mixin modal-header {
  border: none;
    h5 {
      color: $form-label-color;
      font-weight: bold;
    }
}

