.custom-table {
  th {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $primary;
  }
  .arrow {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
