.auth-content {

  ion-title {
    font-size: 1em;
    font-weight: 600;
  }

  form {

    ion-item {
      display: flex;
      flex-direction: column;
      margin-top: 5vh;
      height: 10vh;

      .item-inner {
        border: none;
      }
      span {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 0.9em;
      }

    }

    ion-label {
      font-weight: bold;
      padding-bottom: 5vh;
    }

    .form-options {
      height: initial;
      display: flex;
      flex-direction: column;
    }

    .login-button {


    }

  }

  &.login-gmail-content {
    display: flex;
    flex-direction: column;
    height: initial;
    justify-content: center;
    align-items: center;

    .avatar {
      height: 80px;
      width: 80px;
      margin: 4vh auto;

    }

    ion-title, ion-text {
      width: 100%;
      text-align: center;
      margin-top: 2vh;

      &.username {
        font-size: 1.4em;
        font-weight: bold;

      }

      &.no-account-text {
        font-size: 0.9em;
        font-weight: 100;
      }

    }

    .create-button {
      margin-top: 5vh;
      margin-bottom: 2vh;
    }

    .or-text,
    .singin-link {
      width: 100%;
      text-align: center;
    }

    .terms {
      margin-top: 2vh;
      font-size: 0.8em;
    }

  }

}
