.landing-content {
  display: flex;
  flex-direction: column;
  //background-color: $brand-bg;


  a {
    color: #8500FF;
  }

  .landing-logo {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20%;
    //background-color: $brand-bg;

  }

  .landing-actions {
    width: 100%;
    padding: 0 3vh;
    display: flex;
    flex-direction: column;
    //background-color: $brand-bg;
    height: 30vh;

  }

  .landing-actions ion-router-link {
    width: 100%;
    text-align: center;
    padding: 5vh 0;
    //background-color: $brand-bg;

  }

  .terms {
    text-align: center;
    width: 100%;
    padding: 1vh 3vh;
    font-size: 0.9em;
    //background-color: $brand-bg;
    height: 10vh;

  }
}
