.landing-content {
  display: flex;
  flex-direction: column;
  //background-color: $brand-bg;
  max-width: 500px;
  align-self: center;


  a {
    color: #8500FF;
  }

  .landing-logo {
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    max-width: 100%;
    padding: 20%;
    //background-color: $brand-bg;

  }

  .landing-actions {
    width: 100%;
    padding: 0 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: $brand-bg;
    height: 35vh;

  }

  .landing-actions ion-router-link {
    width: 100%;
    text-align: center;
    padding: 5vh 0;
    //background-color: $brand-bg;

  }

  .terms {
    text-align: center;
    width: 100%;
    padding: 1vh 3vh;
    font-size: 0.8em;
    //background-color: $brand-bg;
  }

  .info {
    text-align: center;
    color: yellow;
    font-size: 0.8em;
    padding: 1vh 3vh;
  }
}
