.phrase-content {
  position: relative;

  .some-text {
    margin: auto;

  }

  .phrase-lock-icon {
    margin: 3vh auto 1vh;
    width: 48px;
    height: 48px;
    background-color: $brand-primary-10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $brand-primary;

    ion-icon {
      font-size: 1.2em;

    }

  }

  .phrase-completed-image {
    margin: 3vh auto 1vh;
    width: 128px;
    height: 128px;
    background-color: $brand-primary-10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $brand-primary;

    ion-icon {
      font-size: 1.2em;

    }

  }

  .phrase-content-title {
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 1em;

    &.confirm-phrase-title {
      margin-top: 2vh;
    }

    &.phrase-completed-title{
      font-size: 1.3em;
      margin-top: 3vh;
      margin-bottom: 3vh;

    }

  }

  .phrase-content-sub-text {
    font-weight: 400;
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 2vh;

    &.seed-phrase-instructions-sub-text {

      >span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        ion-icon {
          font-size: 1.1em;
          margin-right: 5px;
        }

        ion-router-link {
          text-decoration: underline;

        }

      }

    }

    &.phrase-completed-sub-text {
      margin-bottom: 3vh;

    }

  }

  .phrase-words {
    border: 1px solid $grey-border;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vh;
    width: 100%;

    &.confirmed {
      border-color: $green-success;
    }

    .word {
      width: 45%;
      height: 30px;
      text-align: center;
      border: 2px solid $brand-primary;
      box-sizing: border-box;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9em;
      margin-bottom: 2vh;

      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 0;

      }

    }

    &.confirm-phrase-words {
      margin-bottom: 2vh;

      .word-wrapper {
        width: 45%;
        height: 25px;
        margin-bottom: 1vh;
        display: flex;
        flex-direction: row;
        align-items: center;

        .index {
          margin-right: 5%;
          font-size: 0.9em;
          width: 20px;
        }

        .word {
          width: calc(100% - 20px);
          margin-bottom: 1vh;
          font-size: 0.85em;
          height: 25px;
        }

      }

      >.word {
        margin-bottom: 1vh;
        font-size: 0.85em;
        height: 25px;

        &:hover,
        &:focus {
          background-color: $brand-primary;
          color: white;

        }

      }

    }

  }

  .confirmed-text {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        font-size: 1.4em;
      }

      strong {
        margin-top: 3px;
        margin-left: 5px;
      }

    }

  }

  .instructions {
    border: 1px solid $grey-border;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 20px 10px;
    margin-bottom: 10px;
    width: 100%;

    .instructions-title{
      font-weight: 700;
      font-size: 0.85em;
      text-align: center;
      margin-bottom: 1vh;

      &.first {
        font-size: 1em;

      }

    }

    .instructions-sub-text {
      font-size: 0.80em;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;

      &.first {
        margin-bottom: 3vh;

      }

      &.second {
        margin-bottom: 1vh;

      }

      &.third {
        margin-bottom: 3vh;

      }

    }

    .difficulty {
      margin-bottom: 3vh;

      .bars {
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;

        .bar {
          width: 30%;
          border-radius: 10px;
          height: 5px;
          position: relative;

          &:after {
            content: "";
            background-color: $brand-primary;
            border-radius: 10px;
            width: 100%;
            height: 5px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

          }

        }

      }

    }

    .instructions-list {
      padding-left: 10px;

      li {
        font-size: 0.8em;

      }

    }

  }

  .done-button {
    //margin-top: 5vh;

  }

  .button-wrapper{
    position: fixed;
    bottom: 2vh;
    left: 0;
    right: 0;
    .complete-button {
    }
  }


}
